.content{
	width: 1190px;
	margin: 0 auto;
	padding: 0 25px;
	// min-width: 1170px;
}

h1, h2{
	color: $colorBlack;
	font-size: 24px;
	font-family: $fontBold;
	font-weight: 700;
	letter-spacing: 1.2px;
	line-height: 100%;
	margin: 0;
	padding: 0 0 20px;
	text-transform: uppercase;
	font: bold 22px Lucida Sans Unicode, Helvetica, sans-serif;
}

h3{
    color: $colorBlack;
    letter-spacing: 1.5px;
    font: bold 22px Lucida Sans Unicode, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0;
}
    
.box-style{
	.box-style__header{
		padding: 0 0 35px;
	}
	.box-style__heading{
		@extend h1;
		padding: 0 !important;
	}
	&.box-style-but{
		.box-style__heading{
			width: calc(100% - 201px);
			padding-right: 35px !important;
		}
		.box-style__but{
			width: 201px;
			.but{
				@include inline-flex();
				@include justify-content(flex-end);
				margin: 0 0 0 auto;
			}
		}
	}
}

.box-style-img{
	position: relative;
	overflow: hidden;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
	picture{
		width: 100%;
		height: 100%;
	}
	source, img, video{
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	    object-fit: cover;
	    @include transition(transform .2s);
	}
}

.box-animation{
	@include transition(all .3s linear);
}

.t-stl{
	color: $color757575;
	font-size: 16px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 18px;
}

.txt-style{
	color: $colorBlack;
	font-size: 14px;
	font-family: $fontRegular;
	font-weight: normal;
	line-height: 20px;
	ul{
		margin: 0 0 20px;
		padding: 0 0 0 18px;
		list-style: square;
		li{
			padding: 0 0 5px;
		}
	}
}