.but{
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 55px;
	line-height: 55px;
	color: $colorBlack;
    font: bold 22px Lucida Sans Unicode, Helvetica, sans-serif;
	border: none;
	background: $colorfebb46;
	padding: 0 35px;
	@include box-shadow(none);
	@include border-radius(0);
	@include transition(all .3s linear);
	&.but-animate-transform{
		@include transition(transform 0.2s ease-out);
	}
	&:hover, &:focus, &:active{
		color: $colorBlack;
		outline: 0;
		background: darken($colorfebb46, 10);
		@include box-shadow(none);
		&.but-animate-transform{
			@include transform(translateY(-2px));
			@include box-shadow(0 3px 15px rgba(0, 0, 0, 0.15));
		}
	}
}