footer{
	color: $colorBlack;
	font-size: 14px;
	font-family: $fontRegular;
	font-weight: 400;
	line-height: 20px;
}

.footer{
	padding: 30px 0;
	border-bottom: 1px solid $colord9d1bc;
	.footer__item{
		&.footer__item_menu{
			width: 390px;
		}
		&.footer__item_contact{
			width: 390px;
		}
		&.footer__item_map{
			width: calc(100% - 780px);
			
		}
	}
	.footer__heading{
		color: $colorBlack;
		font-size: 18px;
		font-family: $fontBold;
		font-weight: 700;
		letter-spacing: 1.8px;
		line-height: 100%;
		text-transform: uppercase;
		margin: 0 0 20px;
		font: bold 18px Lucida Sans Unicode, Helvetica, sans-serif;
	}
}

.footer-bot{
	height: 65px;
	padding: 20px 0;
}
.footer-copy{
	font-size: 11px;
}

.menu-footer{
	margin: 0;
	padding: 0 0 0 20px;
	list-style: square;
	li{
		width: 100%;
		line-height: 1.0;
		margin: 0 0 10px;
		a{
			position: relative;
			color: $colorBlack;
			// font-family: 'Helvetica', sans-serif;
			border-bottom: 1px solid $colorBlack;
			&.footer-hidden{
				display: none;
			}
			&:hover{
				color: $colorBlack;
				border: none;
			}
		}
		& > ul{
			display: none !important;
		}
	}
}

.footer-contact{
	.footer-contact__item{
		margin: 0 0 22px;
		a{
			color: $colorBlack;
		}
	}
	.footer-contact__heading, .footer-contact__email{
		font-family: $fontBold;
		font-weight: bold;
	}
}

.footer-map{
	width: 100%;
	border: 5px solid $colordddddd;
	iframe{
		width: 100%;
		height: 275px;
	}
}