.form{
	.form-group{
		margin: 0 0 20px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 40px; 
			border: 1px solid #e2e2e2;
			background: transparent;
			color: $colorBlack;
			font-size: 14px;
			font-family: $fontRegular;
		    letter-spacing: 0;
		    border: none;
		    border: 1px solid $colorBlack;
		    @include border-radius(0);
		    &::-webkit-input-placeholder{
				color: $colora8a7a7;
			}
			&::-moz-placeholder{
				color: $colora8a7a7;
			}
			&:-moz-placeholder{
				color: $colora8a7a7;
			}
			&:-ms-input-placeholder{
				color: $colora8a7a7;
			}
			&:hover, &:focus, &:active{
		    	outline: 0;
		    	border-color: $colorBlack;
		    	@include box-shadow(none);
		    }
			&.disabled, &.form-control[disabled], &.form-control[readonly] {
			    cursor: not-allowed;
			    pointer-events: none;
			    background-color: #eee;
			    opacity: 1;
			}
			&.error{
				color: #a94442;
				border-color: #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
		}
		textarea{
			@include border-radius(0);
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 125px!important;
			max-height: 125px!important;
		}
	}
	.terms_of_use{
	    color: #959595;
	    font-size: 12px;
	    line-height: 1.2;
	    padding: 15px 0px 0px;
	    a{
			color: #959595;
			text-decoration: underline;
		}
	}
	.help-block{
		color: #a94442;
		// display: none;
		margin: 0px!important;
		font-size: 12px;
		text-align: center;
	}
	.form-bot{
		.terms_of_use{
			padding: 20px 0 0 20px;
		}
	}
	.form-button{
		margin: 20px 0 0;
	}
	input[type="submit"], button{
		width: 100%;
		height: 50px;
		line-height: 50px;
		border: none;
		color: $colorBlack;
		font-family: $fontBold;
		font-weight: 700;
		font-size: 16px;
		background: $colorfebb46;
	    font: bold 18px Lucida Sans Unicode, Helvetica, sans-serif;
		padding: 0 40px;
		@include box-shadow(none);
		&:hover, &:focus, &:active{
			outline: 0;
			background: darken($colorfebb46, 10);
			@include box-shadow(none);
		}
	}
}

.form-captcha{
	.g-recaptcha{
		@include transform(scale(1));
		transform-origin: 0 0 !important;
	}
	&.form-captcha-95{
		width: 288px;
	    height: 72px;
		.g-recaptcha{
			@include transform(scale(0.95));
		}
	}
	&.form-captcha-9{
		width: 273px;
	    height: 68px;
		.g-recaptcha{
			@include transform(scale(0.9));
		}
	}
	&.form-captcha-85{
		width: 258px;
		height: 64px;
		.g-recaptcha{
			@include transform(scale(0.85));
		}
	}
	&.form-captcha-8{
		width: 243px;
	    height: 60px;
		.g-recaptcha{
			@include transform(scale(0.8));
		}
	}
	&.form-captcha-75{
		width: 228px;
		height: 56px;
		.g-recaptcha{
			@include transform(scale(0.75));
		}
	}
	&.form-captcha-7{
		width: 212px;
		height: 52px;
		.g-recaptcha{
			@include transform(scale(0.7));
		}
	}
}

// form[data-type="ajax-form"]{
// 	.but{
// 		@include transition(opacity .3s);
// 		span, svg, i{
// 			pointer-events: none;
// 		}
// 		&.active {
// 			pointer-events: none;
// 			.icon-load{
// 				display: inline-block;
// 			}
// 			span{
// 				display: none;
// 			}
// 		}
// 	}
// }

@media (max-width: 768px){
}

@media (max-width: 768px){
	.form{
		input[type="submit"], button{
			padding: 0 40px;
		}
	}
}

@media (max-width: 400px){
	.form{
		.form-button{
			margin: 10px 0 0;
		}
		input[type="submit"], button{
			height: 42px;
			line-height: 42px;
			padding: 0 40px;
		}
	}
}