.icon{
	display: inline-block;
	vertical-align: top;
	@include background-size(contain !important);
	&.icon-phone{
		width: 13px;
		height: 13px;
		background: url('../images/icon/icon-phone.png') center no-repeat;
	}
	&.icon-account{
		width: 20px;
		height: 20px;
		background: url('../images/icon/icon-account.png') center no-repeat;
	}
}

@media (min-width: 1001px) AND (max-width: 1240px){
	.icon{
		&.icon-account{
			width: 14px;
			height: 14px;
		}
	}
}

@media (max-width: 1000px){
	.icon{
		&.icon-account{
			width: 18px;
			height: 18px;
		}
	}
}