.modal-my{
	.modal-dialog {
	    width: 385px;
	    margin: 30px auto;
	}
	.modal-header{
		border: none;
		padding: 40px 40px 0px;
		&.box-style {
			.box-style__header{
				width: 100%;
				color: $colorBlack;
				font-size: 16px;
				line-height: 1.2;
				padding: 0 0 20px;
				font: normal 17px Lucida Sans Unicode, Helvetica, sans-serif;
			}
			.box-style__heading{
				font-size: 22px;
				letter-spacing: 0.5px;
				line-height: 1.0;
				padding: 10px 0;
			}
			.box-style__desc{
				width: 100%;
				line-height: 1.3;
				padding: 10px 0 0;
			}
		}
		.modal-close{
		 	position: absolute;
		 	top: 20px;
		 	right: 20px;
		 	width: 20px;
			height: 20px;
			cursor: pointer;
			opacity: 1;
		    z-index: 1051;
	        -webkit-appearance: listbox;
			div {
				position: relative;
				width: 100%;
				height: 1px;
				background: rgba(17, 17, 17, 0.7);
				@include transition(all .4s ease);
				@include transform(rotate(135deg));
				top: 10px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(17, 17, 17, 0.7);
					@include transition(all .4s ease);
					top: 0;
        			@include transform(rotate(90deg));
				}
			}
			&:hover{
				div{
					background: rgba(17, 17, 17, 1);
					@include transform(rotate(225deg));
					&:before {
						background: rgba(17, 17, 17, 1);
					}
				}
			}
		}
		.close {
			color: #000;
			&:hover, &:focus, &:active{
				outline: 0;
			}
		}
	}
	.modal-content{
		background: #fff;
	}
	.modal-body{
		padding: 10px 40px 40px;
		.form-group{
			margin: 0 0 20px;
			textarea{
				min-height: 90px!important;
				max-height: 90px!important;
			}
		}
		.but{
			width: 100%;
		}
	}
	.modal-success-message{
		color: #212121;
	    font-size: 18px;
	    font-weight: 700; 
		padding: 20px 0px 30px;
		// text-align: center;
	}
	.message-success{
		color: #207901;
	   	font-size: 18px;
	    font-weight: 700; 
		padding: 20px 0px 30px;
	}
	&.modal-logoLaying{
		.modal-dialog {
		    width: 1040px;
		}
	}
}

@media (max-width: 1200px){
	.modal-my{
		.modal-header{
			.box-style__header{
				.box-style__heading{
					font-size: 24px;
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.modal-my{
		.modal-header{
			.box-style__header{
				.box-style__heading{
					font-size: 22px;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.modal-my{
		.modal-header{
			.box-style__header{
				text-align: left;
			}
		}
		.modal-success-message{
			font-size: 14px;
		}
	}
}

@media (max-width: 400px){
	.modal-my{
		.modal-dialog {
		    width: 300px;
		}
		.modal-header{
			padding: 30px 20px 0px;
		}
		.modal-body{
			padding: 10px 20px 30px;
		}
		
	}
}