.category-section{
	border-top: 1px solid $colord9d1bc;
	padding: 30px 0 0;
	margin: 50px 0 0;
	h2{
		margin: 0 0 20px;
	}
	&.category-section-2{
		margin: 0;
	}
}
.product-section{
	margin: 0 0 30px;
	border-bottom: 1px solid $colord9d1bc;
}

@import "_product-box";
@import "_product-view";
@import "_search-section";