.product-media{
	height: 250px;
	padding: 0 0 30px;
    margin: 0 0 30px;
	border-bottom: 1px solid $colord9d1bc;
	.product-media__item{
		height: 100%;
		&.product-media__item_photo{
			width: calc(100% - 468px);
			&:hover{
				cursor: zoom-in;
				a{
					cursor: zoom-in;
				}
			}
		}
		&.product-media__item_video{
			width: 438px;
			iframe{
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

.product-thumb-section{
	margin: 30px 0;
	border-bottom: 1px solid $colord9d1bc;
}

.image-thumb{
	margin: 0 -15px;
	.image-thumb__item{
		width: calc(100% / 5 - 30px);
		height: 130px;
		border: 1px solid $colord3d3d3;
		margin: 0 15px 30px;
		&:hover{
			a{
				cursor: zoom-in;
			}
		}
	}
}

.formImage-thumb{
	margin: 0 -15px;
	.formImage-thumb__item{
		width: calc(100% / 4 - 30px);
		margin: 0 15px 30px;
		text-align: center;
		&:hover{
			a{
				cursor: zoom-in;
			}
		}
	}
	.formImage-thumb__img{
		height: 166px;
		source, img{
			max-height: 100%;
		}
	}
	.formImage-thumb__info{
		padding: 10px 0;
	}
	.formImage-thumb__name{
		color: $colorBlack;
		font: bold 22px Lucida Sans Unicode, Helvetica, sans-serif;
	}
}

.product-view-description{
	table{
		width: 100%;
		margin: 0 0 30px;
		tr{
			th, td{
				padding: 7px 12px;
				min-height: 32px;
				background: $colore1e1e1;
				border-bottom: 1px solid $color554a36;
			}
			th{
				background: $colorfebb46;
			}
		}
	}
	img{
		margin: 0 0 20px;
	}
}

.product-view-but{
	margin: 30px 0 0;
	a{
		margin: 0 40px;
	}
}