.search-section{
	.search-form{
		width: 100%;
		.search-input-group{
			position: relative;
			display: block;
			width: 100%;
			height: 46px;
			input{
	    	    width:100%;
			    height: 100%;
			    background: $colorWhite;
			    color: $colorBlack;
			    font-size: 14px;
			    letter-spacing: 0;
			    border: none;
			    padding: 0 55px 0 20px;
			    border: 1px solid $colorBlack;
			    @include border-radius(0);
			    &::-webkit-input-placeholder{
					color: $colora8a7a7;
				}
				&::-moz-placeholder{
					color: $colora8a7a7;
				}
				&:-moz-placeholder{
					color: $colora8a7a7;
				}
				&:-ms-input-placeholder{
					color: $colora8a7a7;
				}
				&:hover, &:focus, &:active{
			    	outline: 0;
			    	border-color: $colorBlack;
			    	@include box-shadow(none);
			    }
		    }
		    .input-group-btn{
		    	@include flexbox();
		    	@include align-items(center);
	    	    position: absolute;
	    	    right: 0;
			    z-index: 5;
			    width: 45px;
			    height: 100%;
			    button{
			    	width: 18px;
				    color: $colorBlack;
				    background: transparent;
				    border: none;
			    	height: 100%;
				    svg{
				    	width: 18px;
				    	height: 100%;
				    }
				    &:hover, &:focus, &:active{
				    	outline: 0;
				    	border: none;
				    	@include box-shadow(none);
				    	svg{
				    		path{
				    			fill: $colorff4900;
				    		}
				    	}
				    }
			    }
		    }
		}
	}
}