.breadcrumb{
	background: transparent;
	margin: 0px;
	padding: 0 0 12px; 
	li{
		position: relative;
		display: inline;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1.5px;
	    font: bold 14px Lucida Sans Unicode, Helvetica, sans-serif;
	    color: $colorWhite;
		a{
			color: $colorfdd000;
			// border-bottom: 1px solid $colorfdd000;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		&.active{
			color: $colorWhite;
			a{
				color: $colorfdd000;
			}
		}
	}
	&>li{
		&+li{
			&:before{
				color: $colorWhite;
				padding: 0px 6px 0px 10px;
			}
		}
	}
}