.image-box{
	padding: 15px 0;
	margin-left: -10px !important;
	margin-right: -10px !important;
	.image-box__item{
		position: relative;
		width: calc(100% / 5 - 20px);
		height: 125px;
		margin: 10px;
		overflow: hidden;
		a{
			display: block;
			width: 100%;
			height: 100%;
			
		}
		img{
			@include transition(transform .3s cubic-bezier(0.33, 1, 0.68, 1));
		}
		&.img-col-12{
			width: 100%;
			height: auto;
			img{
				position: relative;
			    width: auto;
			    height: auto;
			    top: auto;
			    left: auto;
			    -o-object-fit: unset;
			    object-fit: unset;
			}
		}
		&.img-col-6{
			width: calc(100% / 2 - 20px);
			height: 394px;
		}
		&:hover{
			img{
				@include transform(scale(1.05));
			}
		}
	}
}