.page-content, .page-header{
    h1, h2{
		padding: 0;
		font: bold 34px Lucida Sans Unicode, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #000;
		letter-spacing: 1.5px;
		line-height: 1.2;
		margin: 0 0 15px 0;
    }
}

.page-header{
	position: relative;
	padding: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
	.page-header__heading{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		bottom: 0;
	}
	h1, h2{
		color: $colorWhite;
		padding: 0 0 15px;
    }
    &:before,
	&:after{
		content: '';
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
	}
	&:before{
		z-index: 3;
		width: 100%;
		height: 140px;
		@include background-gradient('top', rgba($colorBlack, 0), rgba($colorBlack, 1), 0%, 100%);
		opacity: 0.6;
	}
	&:after{
		display: none;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: rgba($colorBlack, .6);
	}
}

.page-content{
    padding: 50px 0 40px;
    &.page-catalog-home{
    	padding-bottom: 0;
    	.catalog-home{
    		margin: 0;
    	}
    }
    &.page-error-content{
    	padding-top: 90px;
    	.breadcrumb{
			li{
			    color: $colorBlack;
				a{
					color: $colorfdd000;
				}
				&.active{
					color: $colorBlack;
					a{
						color: $colorfdd000;
					}
				}
			}
			&>li{
				&+li{
					&:before{
						color: $colorBlack;
					}
				}
			}
		}
    }
}

// @import "_contact-page";
@import "_breadcrumb";
@import "_gallery-box";
// @import "_pagination";
