$colorWhite: #FFFFFF;
$colorBlack: #000000;
$color212121: #212121;
$colora8a7a7: #a8a7a7;
$colord9d1bc: #d9d1bc;
$colorff4900: #ff4900;
$colorfdd000: #fdd000;
$colorfebb46: #febb46;
$color757575: #757575;
$colord3d3d3: #d3d3d3;
$colordddddd: #dddddd;
$colorcccccc: #cccccc;
$color554a36: #554a36;
$colore1e1e1: #e1e1e1;


$fontFamily: 'Verdana', sans-serif;

$fontRegular: $fontFamily;
$fontMedium: $fontFamily;
$fontBold: $fontFamily;

// @include fontface("FuturaPT-Heavy", "FuturaPT-Heavy");