.catalog-home{
	position: relative;
	z-index: 2;
	margin: -30px 0 0;
}
.catalog-box{
	margin: 0 -25px;
	.catalog-box__item{
		width: calc(100% / 3 - 50px);
		margin: 0 25px 50px;
		&:hover{
			.catalog-box__name{
				color: $colorfdd000;
			}
		}
	}
	.catalog-box__info{
		padding: 20px 0 0;
	}
	.catalog-box__name{
		color: $colorBlack;
		font-size: 24px;
		font-size: 20px;
		font-family: $fontBold;
		font-weight: 700;
		letter-spacing: 2px;
		letter-spacing: 1.5px;
		line-height: 100%;
		min-height: 70px;
		text-transform: uppercase;	
		@include transition(.2s);
		font: bold 24px Lucida Sans Unicode, Helvetica, sans-serif;
	}
}