.main-onebox{
	margin: 0 -15px 15px;
	padding: 35px 0;
	border-top: 1px solid $colord9d1bc;
	.main-onebox__col{
		width: calc(100% / 2 - 30px);
		margin: 0 15px;
	}
	.main-onebox__instagram{
		margin: 0 0 0 18px;
		picture{}
		source, img{
			max-width: 230px;
		}
	}
}