.main-slide-section{
	position: relative;
	z-index: 1;
    min-width: 1190px;
}
.main-slidebox{
	&.main-slidebox-carousel{
		height: 418px;
		.slick-list, .slick-track, .slick-slide{
			height: 100%;
		}
		.main-slidebox__item{
		}
		.main-slidebox__img{
			height: 100%;
		}
		.slick-prev,
		.slick-next {
			svg{
			    path{
			        fill: $colorWhite;
			    }
			}
			&:hover, &:focus {
			    svg{
			        path{
			            fill: $colorWhite;
			        }
			    }
			}
		}
		.slick-prev{
			left: calc(50% - (1140px / 2));
		}
		.slick-next{
			right: calc(50% - (1140px / 2));
		}
	}
}