.slide-home{
	position: relative;
	width: 100%;
	height: 550px;
	background: #EAF5FC;
}

/* Слайдер */
.slide-box{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	.slick-list, .slick-track, .slide-box__item, .slide-box__img{
		height: 100%;
	}
	.slide-box__item{
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    width: 100%;
	}
	.slide-box__content, .slide-box__name, .slide-box__desc, .slide-box__info{
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
	}
	.slide-box__content{
		@extend .content;
		height: 100%;
		@include transition(all .5s linear);
	 //    position: absolute;
	 //    z-index: 3;
	 //    left: 50%;
		// top: 150px;
		// @include transform(translateX(-50%));
		// overflow: hidden;
		// // -webkit-animation: zoomIn 0.3s ease;
		// // 		animation: zoomIn 0.3s ease;
	}
	.slide-box__info{
		position: relative;
		width: 600px;
		padding: 0 0 60px;
	}
	.slide-box__img{
		position: relative;
		width: calc(100% - 600px);
		width: 765px;
		img{
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 1030px;
		}
	}
	.slide-box__name_before{
		color: #3A3A3A;
		font-size: 22px;
		font-weight: normal;
		line-height: 26px;
	}
	.slide-box__name{
		color: #484848;
		font-size: 60px;
		font-weight: bold;
		line-height: 70px;
		text-transform: uppercase;
		padding: 0 0 15px;
		span{
			font-size: 50px;
			line-height: 59px;
		}
	}
	.slide-box__desc{
		color: #6F6F6F;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
	}
	&.slide-box-carousel{
	}
}

.slide-box-nav-content{
	.content{
		position: relative;
	}
}
.slide-box-nav{
	position: absolute;
	bottom: 0;
	left: 10px;
	padding: 0 0 45px;
	.slide-box-dots{
		order: 3;
	}
	.slick-dots{
		position: relative;
		bottom:auto;
		left: auto;
		@include transform(translate(0, 0));
		padding: 0 0 0 100px;
	}
	/* Arrows */
	.slick-prev,
	.slick-next {
		position: relative;
		top: auto;
		@include transform(translate(0, 0));
	}
	.slick-prev {
		order: 1;
	    left: auto;
	}
	.slick-next {
		order: 2;
	    right: auto;
	    margin: 0 0 0 16px;
	}
}

@media (max-width: 1600px){
	.slide-home{
		height: 490px;
	}

	/* Слайдер */
	.slide-box{
		.slide-box__info{
			width: 540px;
			padding: 0 0 60px;
		}
		.slide-box__img{
			width: 610px;
			img{
				max-width: 860px;
			}
		}
		.slide-box__name_before{
			font-size: 20px;
			line-height: 24px;
		}
		.slide-box__name{
			font-size: 50px;
			line-height: 60px;
			padding: 0 0 15px;
			span{
				font-size: 40px;
				line-height: 49px;
			}
		}
		.slide-box__desc{
			font-size: 16px;
			line-height: 24px;
		}
	}
	.slide-box-nav{
		padding: 0 0 40px;
		.slick-dots{
			padding: 0 0 0 80px;
		}
	}
}

@media (max-width: 1240px){
	.slide-home{
		height: 400px;
	}

	/* Слайдер */
	.slide-box{
		.slide-box__info{
			width: 470px;
			padding: 0 0 60px;
		}
		.slide-box__img{
			width: 470px;
			img{
				max-width: 670px;
			}
		}
		.slide-box__name_before{
			font-size: 17px;
			line-height: 20px;
		}
		.slide-box__name{
			font-size: 40px;
			line-height: 50px;
			padding: 0 0 15px;
			span{
				font-size: 34px;
				line-height: 39px;
			}
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.slide-box-nav{
		padding: 0 0 35px;
		.slick-dots{
			padding: 0 0 0 60px;
		}
	}
}

@media (max-width: 1000px){
	.slide-home{
		height: 360px;
	}

	/* Слайдер */
	.slide-box{
		.slide-box__info{
			width: 340px;
			padding: 0 0 40px;
		}
		.slide-box__img{
			width: 380px;
			img{
				max-width: 540px;
			}
		}
		.slide-box__name_before{
			font-size: 16px;
			line-height: 20px;
		}
		.slide-box__name{
			font-size: 32px;
			line-height: 36px;
			padding: 0 0 15px;
			span{
				font-size: 28px;
				line-height: 32px;
			}
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.slide-box-nav{
		padding: 0 0 25px;
		.slick-dots{
			padding: 0 0 0 40px;
		}
	}
}

@media (max-width: 768px){
	.slide-home{
		height: auto;
		margin: 0 0 60px;
	}
	/* Слайдер */
	.slide-box{
		.slide-box__info{
			width: 100%;
			padding: 40px 0 20px;
		}
		.slide-box__img{
			width: 100%;
			height: auto;
			img{
				position: relative;
			    bottom: auto;
			    left: auto;
				max-width: 120%;
			}
		}
		.slide-box__name_before{
			font-size: 16px;
			line-height: 20px;
		}
		.slide-box__name{
			font-size: 30px;
			line-height: 34px;
			padding: 0 0 15px;
			span{
				font-size: 26px;
				line-height: 30px;
			}
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.slide-box-nav{
		bottom: -60px;
		left: 10px;
		padding: 0;
		.slick-dots{
			padding: 0 0 0 40px;
		}
	}
}

@media (max-width: 480px){
	.slide-box-nav{
		.slick-dots{
			padding: 0 0 0 30px;
		}
	}
}