.video-section{
	min-width: 1190px;
	background: $colorcccccc;
	padding: 30px 0;
}
.video-box{
	margin: 0 -15px;
	.video-box__item{
		position: relative;
		width: calc(100% / 3 - 30px);
		height: 200px;
		margin: 0 15px 30px;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
		iframe{
			pointer-events: none;
			width: 100% !important;
			height: 100% !important;
		}
	}
	.video-box__img{
		width: 100%;
		height: 100%;
		picture{
			width: 100%;
			height: 100%;
		}
	}
	&.video-box-carousel{
		height: 200px;
		.video-box__item{
			width: calc(100% - 30px);
			margin-bottom: 0;
		}
		.slick-prev{
			left: -26px;
		}
		.slick-next{
			right: -26px;
		}
	}
}