/*  */
.video-page{
	h3{
		padding: 25px 16px 35px;
	}
}

.video-box{
	margin: 0 -15px;
	.video-box__item{
		position: relative;
		width: calc(100% / 3 - 30px);
		margin: 0px 15px 40px;
		@include transition(all .3s linear);
		&:hover{
			.video-box-play{
				opacity: 1;
			}
		}
	}
	.video-box-play{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 4;
	    opacity: 0;
	    @include transition(all .3s linear);
	    .video-box-play__icon{
	    	position: absolute;
		    z-index: 2;
		    top: calc(50% - 38px);
		    left: calc(50% - 38px);
		    width: 76px;
		    height: 76px;
		    background: url('../images/svg/icon-youtube.svg') 100% 100% no-repeat;
		    @include background-size(76px);
		    -webkit-animation: 'anim-play-mini' 2s ease infinite;
		    animation: 'anim-play-mini' 2s ease infinite;
		    @include transition(all .3s ease);
	    }
	}
	.video-box__img{
		position: relative;
		width: 100%;
		height: 240px;
		overflow: hidden;
		@include border-radius(10px);
	}
	.video-box__text{
		width: 100%;
		height: auto;
	}
	.video-box__name{
		color: #212121;
		font-size: 18px;
		font-family: ProximaNovaRegular;
		line-height: 1.0;
		padding: 10px 0 0;
	}
}

@media (max-width: 1240px){
	.video-box{
		margin: 0 -10px;
		.video-box__item{
			position: relative;
			width: calc(100% / 3 - 20px);
			margin: 0px 10px 30px;
		}
		.video-box__name{
			font-size: 16px;
			line-height: 1.0;
			padding: 10px 0 0;
		}
	}
}

@media (max-width: 1000px){
	.video-box{
		margin: 0 -5px;
		.video-box__item{
			position: relative;
			width: calc(100% / 2 - 10px);
			margin: 0px 5px 30px;
		}
		.video-box__name{
			font-size: 14px;
			line-height: 1.0;
			padding: 10px 0 0;
		}
	}
}

@media (max-width: 640px){
	.video-box{
		.video-box__img{
			height: 205px;
		}
		.video-box-play{
			.video-box-play__icon{
				top: calc(50% - 28px);
				left: calc(50% - 28px);
				width: 66px;
				height: 66px;
				@include background-size(66px);
			}
		}
	}
}

@media (max-width: 480px){
	.video-box{
		.video-box__item{
			margin: 0px 5px 25px;
		}
		.video-box__img{
			height: 165px;
		}
		.video-box-play{
			.video-box-play__icon{
				top: calc(50% - 23px);
				left: calc(50% - 23px);
				width: 46px;
				height: 46px;
				@include background-size(46px);
			}
		}
		.video-box__name{
			padding: 8px 0 0;
		}
	}
}

@media (max-width: 360px){
	.video-box{
		.video-box__img{
			height: 120px;
		}
	}
}