header{

}

.header{
	height: 136px;
	.content{
		height: 100%;
	}
	.header__logo{
		width: 340px;
	}
	.header__section{
		width: calc(100% - 340px);
	}
	.header__search{
		width: 370px;
		padding: 15px 0 0;
	}
}

.header-logo{
	img{
		max-width: 95px;
		margin: 0 15px 0 0;
		&.logo-one{}
		&.logo-two{
			@include transform(rotate(-95deg));
		}
		&.logo-three{
			@include transform(rotate(180deg));
		}
	}
}

.header-search{
	.search-form{
		width: 100%;
		.search-input-group{
			position: relative;
			display: block;
			width: 100%;
			height: 26px;
			input{
	    	    width:100%;
			    height: 100%;
			    background: $colorWhite;
			    color: $colorBlack;
			    font-size: 12px;
			    letter-spacing: 0;
			    border: none;
			    padding: 0 35px 0 7px;
			    border: 1px solid $colorBlack;
			    @include border-radius(0);
			    &::-webkit-input-placeholder{
					color: $colora8a7a7;
				}
				&::-moz-placeholder{
					color: $colora8a7a7;
				}
				&:-moz-placeholder{
					color: $colora8a7a7;
				}
				&:-ms-input-placeholder{
					color: $colora8a7a7;
				}
				&:hover, &:focus, &:active{
			    	outline: 0;
			    	border-color: $colorBlack;
			    	@include box-shadow(none);
			    }
		    }
		    .input-group-btn{
		    	@include flexbox();
		    	@include align-items(center);
	    	    position: absolute;
	    	    right: 0;
			    z-index: 5;
			    width: 28px;
			    height: 100%;
			    button{
			    	width: 10px;
				    color: $colorBlack;
				    background: transparent;
				    border: none;
				    svg{
				    	width: 10px;
				    	height: 100%;
				    }
				    &:hover, &:focus, &:active{
				    	outline: 0;
				    	border: none;
				    	@include box-shadow(none);
				    	svg{
				    		path{
				    			fill: $colorff4900;
				    		}
				    	}
				    }
			    }
		    }
		}
	}
}