/* Меню */
.menu{
	width: 100%;
	height: 100%;
	ul{
		@include flexbox();
		@include justify-content(flex-end);
		@include align-items(center);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			position: relative;
			padding: 0 0 0 30px;
			@include transition(all .3s linear);
			a{
				position: relative;
				color: $colorBlack;
				font-size: 12px;
				font-weight: bold;
				line-height: 1.0;
				text-transform: uppercase;
				@include transition(.2s);
			}
			&.active, &:hover{
				a{
					color: $colorff4900;
				}
			}
		}
	}
}