.menu-catalog-section-abs{
	position: relative;
	z-index: 2;
	.menu-catalog-section{
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(48, 44, 32, 0.7);
	}
}	
.menu-catalog-section{
	width: 100%;
  	height: 60px;
    min-width: 1190px;
	background: rgba(48, 44, 32, 1);
	.content{
		height: 100%;
	}
}

.menu-catalog{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		color: $colorWhite;
		font-size: 14px;
		font-family: $fontBold;
		line-height: 1.0;
		font-weight: 700;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		padding: 0 20px 0 0;
		font: bold 16px Lucida Sans Unicode, Helvetica, sans-serif;
		a{
			color: $colorWhite;
			@include transition(.2s);
		}
		&:last-child{
			padding: 0;
		}
		&:hover{
			a{
				color: $colorfdd000;
			}
		}
	}
}