.mobileNav{
	display: none;
	pointer-events: none;
	.mobileNav-box{
		position: fixed;
		z-index: 10000;
	    top: 0;
    	right: -280px;
    	width: 280px;
    	height: 100%;
	    overflow: hidden;
	    background: rgba($colorWhite, 1);
	    // opacity: 0;
		pointer-events: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	    @include transition(all .3s linear .3s);
	    scrollbar-color: ligthen(rgba($color212121, .1), 5) rgba($color212121, .2);
		scrollbar-width: thin;
	    .mobileNav-box-2{
	    	width: 100%;
			margin: 0;
			height: 100%;
			padding: 50px 0;
			opacity: 0;
			pointer-events: none;
			@include transition(all .3s linear);
			ul {
				list-style: none;
				padding: 40px 0 0;
				margin: 0;
				display: block;
				height: 100%;
				li{
					display: block;
					height: auto;
					line-height: 1.2;
					padding: 12px 20px 12px 35px;
					a{
						@include flexbox();
						@include justify-content(space-between);
						color: $color212121;
						font-size: 18px;
						line-height: 1.3;
					}
					&.listItem-nav{
						// padding-bottom: 5px;
						// margin-bottom: 10px;
						border-bottom: 1px solid $colorDBDBDB;
						a{
							display: none;
							// font-size: 20px;
							font-weight: 500;
							&:last-child{
								display: block;
							}
						}
					}
					&.submenuItem{
						 & > a{
							&:after{
								position: relative;
    							top: 2px;
								content: "\f105";
								display: inline-block;
							    font: normal normal normal 14px/1 FontAwesome;
							    font-size: inherit;
							    text-rendering: auto;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							    margin: 0 0 0 5px;
							}
						}
					}
					&:hover, &:focus, &:active, &.active{
						& > a{
							color: $colorOrange;
						}
					}
					.menu-mobile-wrapper{
						position: fixed;
						z-index: 1052;
						top: 0;
						bottom: 0;
						width: 280px;
						height: 100vh;
						right: -280px;
						overflow: hidden;
						background: $colorWhite;
						opacity: 0;
						pointer-events: none;
						padding: 50px 0 45px 0;
						@include transition(all .3s linear .3s);
						.prevLink{
							display: block;
							line-height: 1.0;
							color: $color212121;
							color: $colorOrange;
							// background: rgba($colorEEF2FB, 0.8);
							text-transform: none;
							padding: 10px 20px;
							margin: 0 0 15px;
							&:before{
								content: "\f104";
								display: inline-block;
							    font: normal normal normal 14px/1 FontAwesome;
							    font-size: inherit;
							    text-rendering: auto;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							    margin: 0 10px 0px 0px;
							}
							&:hover{
								color: $color212121;
								color: $colorOrange;
								// background: rgba($colorEEF2FB, 1);
							}
						}
						&.active{
							right: 0;
							opacity: 1;
							pointer-events: all;
						}
						.menu-mobile-wrapper{
							z-index: 1053;
							.menu-mobile-wrapper{
								z-index: 1054;
								.menu-mobile-wrapper{
									z-index: 1055;
									.menu-mobile-wrapper{
										z-index: 1056;
									}
								}
							}
						}
					}
					ul{
						width: 100%;
						height: calc(100% - 74px);
						overflow: hidden;
						overflow-y: auto;
						padding: 0;
						scrollbar-color: ligthen(rgba($color212121, .1), 5) rgba($color212121, .2);
						scrollbar-width: thin;
						li{
							a{
								text-transform: none;
							}
						}
						&::-webkit-scrollbar-track
						{
							-webkit-box-shadow: none;
							@include border-radius(20px);
							background-color: $colorWhite;
						}
						&::-webkit-scrollbar
						{
							width: 7px;
							background-color: $colorWhite;
						}
						&::-webkit-scrollbar-thumb
						{
							@include border-radius(10px);
							-webkit-box-shadow: none;
							background-color: $colorDBDBDB;
						}
					}
				}
			}
			& > ul {
				overflow: hidden;
				overflow-y: auto;
				scrollbar-color: ligthen(rgba($color212121, .1), 5) rgba($color212121, .2);
				scrollbar-width: thin;
				&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: none;
					@include border-radius(20px);
					background-color: $colorWhite;
				}
				&::-webkit-scrollbar
				{
					width: 7px;
					background-color: $colorWhite;
				}
				&::-webkit-scrollbar-thumb
				{
					@include border-radius(10px);
					-webkit-box-shadow: none;
					background-color: $colorDBDBDB;
				}
			}
	    }
	    &.active{
	    	right: 0;
	    	// opacity: 1;
			pointer-events: all;
			@include transition(all .3s linear);
			.mobileNav-box-2{
				opacity: 1;
				pointer-events: all;
			}
	    }
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: none;
			@include border-radius(20px);
			background-color: $colorWhite;
		}
		&::-webkit-scrollbar
		{
			width: 7px;
			background-color: $colorWhite;
		}
		&::-webkit-scrollbar-thumb
		{
			@include border-radius(10px);
			-webkit-box-shadow: none;
			background-color: $colorDBDBDB;
		}
	}
	.mobileNav__icon-close{
		z-index: -100;
		right: 10px;
		opacity: 0;
		@include transition(all .3s linear .3s);
		&.active{
			display: block;
		    position: fixed;
		    top: 12px;
		    right: 10px;
		    width: 30px;
			height: 30px;
			cursor: pointer;
			opacity: 1;
		    z-index: 10001;
			div {
				position: relative;
				width: 100%;
				height: 2px;
				background: rgba($color212121, 0.7);
				@include transition(all .4s ease);
				@include transform(rotate(135deg));
				top: 14px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 2px;
					background: rgba($color212121, 0.7);
					@include transition(all .4s ease);
					top: 0;
        			@include transform(rotate(90deg));
				}
			}
			&:hover{
				div{
					background: rgba($color212121, 1);
					@include transform(rotate(225deg));
					&:before {
						background: rgba($color212121, 1);
					}
				}
			}
		}
	}
	&.active{
		pointer-events: all;
		&:after{
			pointer-events: all;
			background: rgba($color212121, 0.6);
		}
	}
	&:after{
    	content: '';
    	display: block;
    	position: fixed;
    	z-index: 9999;
    	top: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    	pointer-events: none;
    	background: rgba($color212121, 0);
    	@include transition(all .3s linear .3s);
    }
}

@media (max-width: 1005px){
	.menu{
		display: none;
	}
	.mobileNav{
		display: block;
	}
}
